@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    font-family: 'Roboto','Lora', serif;
}
nav{
    width: 100%;
    height: 10.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_part{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_part{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_part a{
    display: block;
    text-decoration: none;
    color: black;
}
.logo_part a div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_part a span{
    display: block;
    font-size: 1.4em;
    font-weight: bolder;
    cursor: pointer;
}
.logo{
    width: 45px;
    height: 40px;
    display: block;
    margin-right: 6px;
    cursor: pointer;
}
.option{
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option ul{
    width: 58%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.option ul li{
    list-style: none;
}
.option ul li a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}
.option ul li a:hover{
    color:rgb(238, 177, 107);
}
/******************************************************/

#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)),url("./banner2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 57vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(253, 253, 253);
    text-align: center;
}

.banner_content{
    position: inherit;
    width: 57%;
    height: 45%;
    padding-right: 6%;
}
.banner_content p{
    font-size: 1.5em;
    margin-top: 30px;
    line-height: 46px;
    font-weight: 100;
    margin-bottom: 20px;
}
.banner_content h1{
    font-size: 3.9em;
    font-weight: bold;
    line-height: 64px;
}

main{
    background-color: #f1f0ec;
}

#description{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
#description div{
    text-align: center;
    max-width: 1140px;
}
#description div span{
    font-size: 2.3em;
    font-weight: 900;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
}
#description div p{
    font-size: 1.7em;
    line-height: 40px;
}

#product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid_product{
    display: grid;
    grid-template-columns: repeat(2,260px);
    grid-gap: 17px;
    margin-right: 20px;
}
.grid_product div{
    width: 260px;
    height: 270px;
    padding: 0;
}
.grid_product div img{
    width: 260px;
    height: 270px;
}
.product_a{
    width: 544px;
    height: 556px;
    padding: 0;
}
.product_a img{
    width: 544px;
    height: 556px;
}
.grid_product div::after{
    content: '';
    display: block;
    width: 260px;
    height: 271px;
    background-color: rgba(255, 255, 255, 0.103);
    z-index: -1;
    position: relative;
    bottom:275px;
    transition: all .2s ease;
}
.grid_product div:hover::after{
    z-index: 1;
}
#testimonial{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonial_head{
    text-align: center;
    max-width: 1140px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonial_head span{
    font-size: 2.3em;
    font-weight: 900;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
}
.testimonial_card{
    max-width: 1140px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial_head p{
    font-size: 1.7em;
    line-height: 40px;
}
.card{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    background-color: white;
    width: 544px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 10px 0 10px;
    padding:  0 25px 0 25px;
}
.star{
    color: rgb(238, 177, 107);
    font-size: 1.5em;
}
.card p{
    font-size: 1.3em;
    text-align: center;
}
.infos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos div img{
    border-radius: 50%;
}
.infos span{
    font-size: 1em;
    font-weight: bolder;
    display: block;
    margin-left: 15px;
}
#presentation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.infos_menu{
    width: 540px;
    height: 100%;
    margin-left: 50px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.infos_menu span{
    display: block;
}
.title{
    font-size: 2.3em;
    margin-bottom: 26px;
    font-weight: bold;
}
.border{
    width: 40px;
    border-top: 2px solid rgb(182, 43, 43);
    margin-bottom: 24px;
}
.infos_menu p{
    font-size: 1.3em;
    color: #000000c5;
    font: 1em;
    margin-bottom: 50px;
    line-height: 34px;
}
.but1{
    background-color: #f51432c9;
    text-align: center;
    width: 160px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.but1:hover{
    background-color: rgb(238, 177, 107);
    transition: 0.5s ease;
}
.but1 a{
    text-decoration: none;
    font-size: 0.95em;
    color: rgb(253, 253, 253);
}


/******************************************************/
#follow{
    height: 51vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.follow_wrapper{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.follow_title{
    font-size: 2.1em;
}
.follow_text{
    font-size: 1.6em;
    color: #0000009f;
}
.social_network{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_network div{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(238, 54, 85);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px 0 2px;
    cursor: pointer;
    transition: all 0.5s ease 0.2s;
}
.social_network div a{
    text-decoration: none;
    color: white;
}
.social_network div:hover{ 
    width: 40px;
    height: 40px;
    margin: 0 5px 0 5px;
    background-color: rgb(238, 177, 107);
}
.social_network div i{
    font-size: 1.4em;
    display: block;
}
/******************************************************/
#footer{
    background-color: #000000;
    height: 52vh;
    color: rgba(255, 255, 255, 0.904);
    width: 100%;
    font-size: 1.33em;
    /*position: relative;
    bottom: 90px;*/
}
.footer_detail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 45vh;
}
.footer_detail1 {
    width: 390px;
    padding-right: 30px;
}
.footer_detail1 p {
    margin-top: 28px;
    line-height: 32px;
}
.footer_detail2{
    width: 380px;
}
.footer_detail1 span , .footer_detail2 span{
    font-weight: 900;
    font-size: 24px;
}
.footer_detail2 ul{
    width: 92%;
    margin-top: 20px;
}
.footer_detail2 ul li{
    list-style: none;
    padding: 8px 0 8px 0;
}
.bord{
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.582);
}
.copyright{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 17px;
    font-weight: 200;
}
.copyright span{
    display: block;
    width: 51.5%;
}
.copyright ul{
    display: block;
    width: 26%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.copyright ul li{
    list-style: none;
}
.copyright ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
}